html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 400px;
    margin: 0 auto;
    width: 100%;
}

.header-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.logo {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 25px;
}



h2 {
    color: #FFD15B;
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
    word-wrap: break-word;
    line-height: 66px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    max-width: 1200px;
}

.sentence-and-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-top: 20px;
}

.input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
}

.text-input {
    padding: 35px 100px 35px 30px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    background-color: #1B1B1B;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

main {
    background-color: #E5E5E5;
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.filter-container-and-sentence {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.appliance-filter-container {
    position: relative;
}

.filter-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 200px;
    background-color: #FFFFFF;
    color: #1B1B1B;
    border: none;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 11px 11px 0 0;
}

.containeur-input-and-suggestions {
    display: none;
    box-sizing: border-box;
    border-radius: 0 0 11px 11px;
    background-color: #FFFFFF;
    width: 200px;
    height: auto;
    max-height: 500px;
    z-index: 1000;
}


.containeur-input-and-suggestions.show {
    display: block;
}

.input-container {
    position: relative;
    width: 80%; 
    margin: 0 auto; 
    display: block; 
}

.selector {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
}

#ingredient-selector option,
#appliance-selector option,
#utensil-selector option {
    padding: 10px;
    font-size: 16px;
}

.selected-tags-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    padding-left: 140px;
}

.filter-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.filter-label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.ingredient-filter-container,
.appliance-filter-container,
.utensil-filter-container {
    width: 250px;
}

select option {
    padding: 10px;
    font-size: 16px;
}

.clear-input {
    font-size: 18px;
    font-weight: bold;
    color: #999; 
    cursor: pointer;
    position: absolute;
    right: 40px; 
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.2s ease;
}


.selected-tag {
    background-color: #FFD15B;
    color: #1B1B1B;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 141px;
    height: 53px;
}

.suggestions-container {
    width: 100%;
    background-color: white;
    height: 240px; 
    border-radius: 4px;
    z-index: 100;
    display: none;
    overflow: hidden; 
    font-family: 'Manrope', sans-serif;
    line-height: 19px;
    font-weight: 400;
}

.suggestions-container .suggestion-item {
    padding: 10px; 
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden; 
}


.suggestions-container .suggestion-item:hover {
    background-color: #FFD15B; 
    cursor: pointer; 
}


#ingredient-tags,
#appliance-tags,
#utensil-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}


.selected-tag {
    display: inline-flex;
    align-items: center;
    background-color: #FFD15B;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    position: relative;
    padding-right: 25px;
}


.close-tag {
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
    font-size: 16px;
    color: #000000; 
}


.close-tag i {
    font-size: 15px; 
}


.filter-tag,
.tag {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-tag:hover,
.tag:hover {
    background-color: #0056b3;
}

.remove-tag {
    color: #1B1B1B;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.remove-tag:hover {
    color: darkred;
}

#selected-tags {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.filter-tag {
    background-color: #FFD15B;
    color: #1B1B1B;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.filter-tag:hover {
    background-color: #e5a800;
}

.recipe-count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #333;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 31.61px;
    font-weight: bold;
}

.recipe-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.recipe-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card a {
    text-decoration: none;
    color: inherit;
}

.image-container {
    position: relative;
}

.recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}

.time-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFD15B;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.recipe-container {
    padding: 0 20px;
    border-radius: 8px;
    margin: 10px 0;
}

.card-content-container {
    padding: 20px;
}

.recipe-card h2 {
    font-family: Anton, sans-serif;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: left;
}

.recette-title,
.ingredients-title {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #7A7A7A;
    text-align: left;
    letter-spacing: 0.09em;
}

.description-title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.09em;
}

.description-container {
    font-size: 15px;
    line-height: 1.5;
}

.recipe-description {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #1B1B1B;
    font-weight: 400;
    max-height: 80px;
    overflow: hidden;
}

.ingredients-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ingredient-name {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1B1B1B;
    line-height: 19px;
}

.ingredient-quantity {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: Grey;
    line-height: 19.12px;
    margin-top: 5px;
}

.remove-tag {
    color: #1B1B1B;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.remove-tag:hover {
    color: darkred;
}

@media screen and (max-width: 1300px) {
    .recipe-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .search-container {
        width: 90%;
        margin-top: 10px;
    }

    .recipe-count-container {
        font-size: 18px;
    }

    .header-background {
        width: 100%;
    }

    h2 {
        font-size: 40px;
        max-width: 100%;
    }

    .input-wrapper {
        width: 100%;
    }

    .text-input {
        padding: 25px 80px 25px 25px;
    }
}

@media screen and (max-width: 768px) {
    .recipe-section {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .search-container {
        width: 90%;
        margin-top: 10px;
    }

    .button {
        top: 40%;
        font-size: 10px;
    }

    .recipe-count-container {
        font-size: 16px;

        padding: 10px;
    }

    .header-background {
        width: 100%;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        max-width: 100%;
    }

    .input-wrapper {
        width: 100%;
    }

    .text-input {
        padding: 20px 60px 20px 20px;
        font-size: 14px;
    }

    .filter-container-and-sentence {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .ingredient-filter-container,
    .appliance-filter-container,
    .utensil-filter-container {
        width: 100%;
        margin: 0 auto;
    }

    #ingredient-selector,
    #appliance-selector,
    #utensil-selector {
        width: 100%;
        max-width: 700px;
    }
}

@media screen and (max-width: 425px) {
    header {
        height: 300px;
    }

    .header-background {
        width: 100%;
        height: 100%;
    }

    .logo {
        width: 120px;
        height: 20px;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 15px;
        max-width: 90%;
    }

    .search-container {
        width: 90%;
        margin-top: 15px;
    }

    .input-wrapper {
        width: 100%;
        height: 50px;

    }

    .text-input {
        padding: 25px 70px 25px 20px;
        font-size: 14px;
        height: 35px;

    }

    .button {
        top: 50%;
        font-size: 14px;
        padding: 8px 12px;

    }


    .ingredient-filter-container,
    .appliance-filter-container,
    .utensil-filter-container {
        width: 200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    header {
        height: 250px;
    }

    .header-background {
        width: 100%;
        height: 100%;
    }

    .logo {
        width: 100px;
        height: 15px;
    }

    h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
        max-width: 90%;
    }

    .search-container {
        width: 85%;
        margin-top: 10px;
    }

    .input-wrapper {
        width: 100%;
        height: 45px;
    }

    .text-input {
        padding: 20px 50px 20px 15px;
        font-size: 12px;
        height: 30px;
    }

    .button {
        top: 50%;
        font-size: 12px;
        padding: 6px 10px;
    }

    .ingredient-filter-container,
    .appliance-filter-container,
    .utensil-filter-container {
        width: 150px;
        margin: 0 auto;
    }


    #ingredient-selector,
    #appliance-selector,
    #utensil-selector {
        width: 150px;
        font-size: 12px;
    }
}
